.footer {
  bottom: 7px;
  padding-top: 40px;
  position: relative;
  top: auto;
  transition: 2s top ease-in;
}

.contact-block,
.subscribe-block {
  padding: 16px 0 32px;
}

.contact-block__title {
  padding: 36px 1px 16px;
}

.contact-block__title h2 {
  color: var(--text-color);
}

.contact-block__descr {
  padding: 4px 0 8px;
  font-size: 18px;
  line-height: 139%;
}

.contact-block__descr p:last-child {
  margin: 0;
}

.contact__label {
  display: block;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 139%;
}

.contact__link_phone {
  border-bottom: none;
}

p:nth-child(2) .contact__link::after {
  content: ", ";
}

p:nth-child(2) .contact__link:last-child::after {
  display: none;
}

.chat-block {
  display: none;
}

.subscribe-block__title {
  padding: 24px 1px 16px;
}

.subscribe-block__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-between;
  row-gap: 23px;
}

.subscribe__link,
.chat-block__link {
  border: none;
  display: flex;
  padding: 4px 0 8px;
  text-decoration: underline;
}

.subscribe__link {
  flex: 0 0 134px;
  word-wrap: break-word;
}

.logo {
  display: none;
  border-bottom: none;
}

.footer.active {
  background-color: var(--text-color);
  padding-top: 0;
  position: absolute;
  top: 418px;
  transition: 2s top ease-in;
}

.footer.active .contact-block__title>h2, 
.footer.active a.contact__link,
.footer.active a.contact__link_phone,
.footer.active .subscribe-block__title>h3,
.footer.active .subscribe__link
{
  color: #fff;
}

.footer.active a.contact__link,
.footer.active a.contact__link_phone {
  font-size: 18px;
  text-decoration: underline;
}

.footer.active a.contact__link_phone {
  display: block;
  text-decoration: none;
}

.footer.active .footer__nav .contact-block .contact-block__title {
  padding-top: 24px;
}

.footer.active .footer__nav .contact-block .contact-block__title h2 {
  font-size: 24px;
  line-height: 160%;
}

@media (min-width: 744px) {

  .footer .container {
    display: flex;
    flex-direction: column;
  }

  .footer {
    padding: 21px 18px 0;
  }

  .footer__nav .contact-block {
    display: none;
  }

  .chat-block {
    display: block;
    padding-right: 50px;
  }

  .chat-block__title {
    padding-right: 77px;
  }

  .chat-block__title h2 {
    color: var(--text-color);
  }

  .chat-block__title_link {
    color: var(--primary-color);
    font-size: 1em;
    font-weight: 900;
    line-height: 150%;
    border-bottom: none;
  }

  .chat-block__subtitle {
    margin-top: 25px;
    padding: 4px 0 8px;
  }

  .chat-block__links,
  .subscribe-block__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .subscribe-block {
    margin-top: 39px;
  }

  .logo {
    display: inline-block;
    height: 235px;
    padding-top: 7px;
    position: relative;
    left: -42px;
  }

  .logo img {
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media (min-width: 1440px) {

  .footer .container {
    flex-direction: row;
  }

  .footer__nav {
    padding-right: 15.277778vw;
  }

  .subscribe-block {
    margin-top: 0;
  }

  .logo {
    height: 20.486vh;
    width: 19.359vw;
    top: 16.15vh;
    left: -7.222vw;
  }

  .contact__label {
    font-size: 2.22vh;
  }
}