.header .container {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container .eye {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 176px;
}

.navbar {
  -webkit-transition: 0.2s left ease-in;
  background-color: var(--bg-color);
  height: 100vh;
  left: 100vw;
  position: absolute;
  top: 0;
  transition: 0.2s left ease-in;
  width: 100%;
  z-index: 999;
}

.navbar.active {
  left: 0;
}

.burger {
  background-color: var(--text-color);
  border-radius: 10px;
  padding: 8px 16px;
  position: absolute;
  right: 16px;
  top: 26px;
  z-index: 1000;
}

.burger__label {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}