:root {
  --bg-color: #FFF5EC;
  --text-color: #170202;
  --primary-color: #d17171;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--text-color);
  font: 400 24px 'Open Sans', sans-serif;
  line-height: 150%;
  letter-spacing: 2%;
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h6 {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.03em;
  line-height: 44px;
}

h2 {
  color: var(--primary-color);
  font-size: 32px;
  line-height: 48px;
}

.text-h2-what_i_do {
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 160%;
}

h4 {
  font: 700 18px 'Open Sans', sans-serif;
  line-height: 138.88889%;
}

a,
a:visited {
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  text-decoration: none;
}

p {
  margin-bottom: 24px;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  z-index: 0;
}

.container {
  padding: 0 16px;
  width: 100%;
}

.header .container {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container .eye {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 176px;
}

.navbar {
  -webkit-transition: 0.2s left ease-in;
  background-color: var(--bg-color);
  height: 100vh;
  left: 100vw;
  position: absolute;
  top: 0;
  transition: 0.2s left ease-in;
  width: 100%;
  z-index: 999;
}

.navbar.active {
  left: 0;
}

.burger {
  background-color: var(--text-color);
  border-radius: 10px;
  padding: 8px 16px;
  position: absolute;
  right: 16px;
  top: 26px;
  z-index: 1000;
}

.burger__label {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.link {}

.content {
  padding-top: 116px;
}

.main-title {
  padding: 32px 0 16px;
}

.text-block .text-block__title {
  padding: 36px 1px 16px;
}

.what-i-do .text-block__descr p:last-child {
  margin-bottom: 0;
}

.want-to-do .text-block .text-block__title h2 {
  text-align: center;
}

.text-block_sub .text-block__title {
  padding-top: 24px;
}

.text-block_sub:nth-child(2) .text-block__title {
  padding: 24px 1px 4px;
}

.description {
  padding: 4px 2px 8px 1px;
}

.description__paragraph:first-child {
  margin-bottom: 40px;
}

.description__paragraph:nth-child(2) {
  margin-bottom: 10px;
}

.text-block__descr_sm .description__paragraph, .description__link {
  font-size: 18px;
  line-height: 140%;
}

.avatar {
  padding: 32px 0 14px;
}

.avatar img {
  margin-left: -4px;
}

.avatar__caption {
  font-size: 14px;
  line-height: 19px;
  padding: 16px 0 4px;
  text-align: center;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {

  h1 {
    font-size: 48px;
    line-height: 146%;
  }

  .container {
    padding: 0 24px;
  }

  .container .eye {
    height: 160px;
    left: 36px;
    position: absolute;
    top: -17px;
    width: 313px;
  }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 37px;
    left: 24px;
    top: 201px;
    width: auto;
    height: auto;
  }

  .burger {
    display: none;
  }

  .content {
    padding-top: 253px;
  }
}

@media (min-width: 1440px) {
  * {
    font-size: calc(100vw / 60);
  }

  h1 {
    font-size: calc(100vw / 30);
  }

  h2 {
    font-size: 2.222vw;
  }

  h3 {
    font-size: 1.6667vw;
    line-height: 125%;
  }

  h4 {
    font-size: 1.25vw;
    line-height: 133.3%;
  }

  .navbar {
    /* position: static; */
    top: 0;
    /* right: 0; */
    right: calc(0.9vw + 24px);
    justify-content: flex-end;
  }

  .container {
    margin: 0 auto;
    max-width: calc(86.1vw + 48px);
  }

  .header>.container {
    justify-content: flex-end;
  }

  .content {
    padding-top: 26.79vh;
  }
}