:root {
  --bg-color: #FFF5EC;
  --text-color: #170202;
  --h3-color: #D17171;

  --a-color: #170202;
  --a-hover-color: #260A0A;
  --a-active-color: #311515;

  --btn-text-color: #FFF;
  --btn-bg-color: #D17171;
  --btn-bg-hover-color: #FC6363;
  --btn-bg-active-color: #E45151;
  --btn-border-radius: 8px;
}

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:500&display=swap');]
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');


#top-eye {
  width: 313px;
  height: 160px;
  margin-top: -17px;
  display: inline-block;
}

#right-eye {
  width: 400px;
  height: 212px;
  display: inline-block;
  position: absolute;
  top: 415px;
  right: 0;
}

body {
//styleName: Body 1;
font-family: Red Hat Text;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.02em;
text-align: left;

}

a {
  color: var(--a-color);
  text-decoration: underline;
}
a:hover {
  color: var(--a-hover-color);
  text-decoration: none;
}
a:active {
  color: var(--a-active-color);
  text-decoration: none;
}

h1, h2 {
  //styleName: H1;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 70px;
letter-spacing: 0.03em;
text-align: left;

}

h3 {
  //styleName: H3;
font-family: Merriweather;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}

h1 {
  margin-bottom: 0.825em;
}

p {
  margin-bottom: 1em;
}

.btn {
  color: var(--btn-text-color);
  text-decoration: none;
  white-space: nowrap;
  padding: 0.8em 1.5em;
  background-color: var(--btn-bg-color);
  border-radius: var(--btn-border-radius);
}
.btn:hover {
  color: var(--btn-text-color);
  background-color: var(--btn-bg-hover-color);
}
.btn:active {
  color: var(--btn-text-color);
  background-color: var(--btn-bg-active-color);
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.text {
  width: 65%;
}

.contacts {
  color: var(--a-color);
  position: relative;
}
.contacts::after {
  content: "⇩";
  font-size: 134px;
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 390px;
  transform: rotate(90deg) translateX(-100%);
}

.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.links a {
  flex: 0 0 auto;
  margin-bottom: 0;
}


@media (max-width: 998px) {
  .links a {
    flex: 0 0 33.3333%;
    margin-bottom: 1em;
  }
}

@media (max-width: 768px) {
  #top-eye {
    width: 137px;
    height: 74px;
    margin-top: 5px;
  }

  #right-eye {
    display: none;
  }

  body {
    font-size: 20px;
  }

  h1, h2 {
    font-size: 30px;
    margin-bottom: 0.5em;
  }

  .btn {
    font-size: 16px;
    padding: 0.7em 1.6em;
  }

  .top {
    margin-bottom: 24px;
  }

  .text {
    width: 100%;
  }

  .contacts::after {
    font-size: 94px;
    top: -90px;
    left: 230px;
    transform: rotate(90deg);
  }

  .links a {
    flex: 0 0 auto;
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .links a {
    flex: 0 0 33.3333%;
    margin-bottom: 1em;
  }
}

@media (max-width: 480px) {
  .links a {
    flex: 0 0 50%;
    margin-bottom: 1em;
  }
}
