@import './header.css';
@import './footer.css';

:root {
  --bg-color: #FFF5EC;
  --text-color: #170202;
  --primary-color: #d17171;
  --eye-shadow-color: #FFD2A8;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--text-color);
  font: 400 24px 'Open Sans', sans-serif;
  line-height: 150%;
  letter-spacing: 2%;
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h6 {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.03em;
  line-height: 137.5%;
}

h1 > a {
  font-size: inherit;
  font-weight: inherit;
}

h2 {
  color: var(--primary-color);
  font-size: 32px;
  line-height: 150%;
}

.text-h2-what_i_do {
  line-height: 132%;
}

h3 {
  font-size: 24px;
  line-height: 160%;
}

h4 {
  font: 700 18px 'Open Sans', sans-serif;
  line-height: 138.88889%;
}

a,
a:visited {
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
  line-height: 150%;
}

.main-right-eye {
  display: none;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

.navbar.active,
.footer.active {
  overflow: hidden;
}

.container {
  padding: 0 16px;
  width: 100%;
}

.content {
  padding-top: 116px;
}

.content.hide {
  display: none;
}

.main-title {
  padding: 32px 0 16px;
}

.text-block .text-block__title {
  padding: 36px 1px 16px;
}

.text-block_sub p:last-child,
.what-i-do .text-block__descr p:last-child {
  margin-bottom: 0;
}

.want-to-do .text-block .text-block__title h2 {
  text-align: center;
}

.text-block_sub .text-block__title {
  padding-top: 24px;
}

.text-block_sub:nth-child(2) .text-block__title {
  padding: 1em 0.004 0.1666em;
}

.description {
  padding: 4px 2px 16px 1px;
}

.description__paragraph:first-child {
  margin-bottom: 40px;
}

.description__paragraph:nth-child(2) {
  margin-bottom: 10px;
}

.text-block__descr_sm .description__paragraph, .description__link {
  font-size: 18px;
  line-height: 140%;
}

.avatar {
  margin: 0 auto;
  padding: 32px 0 14px;
  width: 296px;
}

.avatar img {
  margin-left: -4px;
}

.avatar__caption {
  font-size: 14px;
  line-height: 135.71%;
  padding: 16px 0 4px;
  text-align: center;
}

.column-right .contact-block,
.column-right .follow-block {
  display: none;
}

.contact-block__button {
  display: none;
}

.hidden {
  display: none;
}

@media (min-width: 744px) {

  h1 {
    font-size: 48px;
    line-height: 146%;
  }

  .main-right-eye {
    display: block;
    height: 212px;
    right: -20px;
    position: absolute;
    top: -49px;
    width: 400px;
  }

  .main-right-eye .eye {
    height: 100%;
    width: 100%;
  }

  .container {
    padding: 0 26px 0 24px;
  }

  .content {
    padding: 253px 16px 0;
  }

  .text-block,
  .text-block_sub {
    padding-right: 42px;
  }

  .want-to-do .text-block .text-block__title h2 {
    text-align: left;
  }

  section:not(.what-i-do) {
    padding-left: 6px;
  }

  .avatar-section {
    padding: 78px 0 24px;
  }

  .avatar {
    margin-left: 0;
  }

  .avatar img {
    margin: 0;
  }

  .work-with {
    margin-top: 52px;
  }

  .text-block__descr_sm {
    line-height: 150%;
  }

  .column-right {
    flex: 1 1 auto;
  }

  .column-right .contact-block.hide {
    right: -11.875em;
  }

  .column-right .contact-block {
    background-color: var(--bg-color);
    border: 3px solid var(--text-color);
    border-right: none;
    border-bottom-left-radius: 10px;
    display: inline-block;
    flex-direction: column;
    padding: 0 0.66667em 1.5em;
    position: absolute;
    right: -2px;
    top: 15.625em;
    transition: all 0.5s ease-in;
    width: 11.875em;
    z-index: 900;
  }

  .contact-block__button {
    background-color: var(--text-color);
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff !important;
    display: inline-block;
    font-size: 0.66667em;
    font-weight: bold;
    line-height: 87%;
    left: -39px;
    letter-spacing: -0.3334em;
    padding: 8px 15px 8px 10px;
    position: absolute;
    text-orientation: upright;
    top: -3px;
    writing-mode: vertical-lr;
    z-index: 800;
  }
}

@media (min-width: 1440px) {
  * {
    font-size: calc(100vw / 60);
  }

  h1 {
    font-size: calc(100vw / 30);
  }

  h2 {
    font-size: 2.222vw;
  }

  h3 {
    font-size: 1.6667vw;
    line-height: 125%;
  }

  h4 {
    font-size: 1.25vw;
    line-height: 133.3%;
  }

  section:not(.what-i-do) {
    padding-left: 0px;
  }

  .work-with {
    margin: 0;
  }

  .content {
    padding-top: 24.90vh;
  }

  .container {
    display: flex;
    margin: 0 auto;
    max-width: calc(86.1vw + 48px);
  }

  .column-left {
    flex: 0 1 42.57vw;
  }

  .text-block,
  .text-block_sub {
    padding-right: 0;
  }

  .text-block .text-block__title {
    padding: 1.5em 0.024em 0.66667em;
  }

  .want-to-do .text-block .text-block__title {
    margin-top: 0.66667em;
  }

  .text-block__descr_sm .description__paragraph, .description__link {
    font-size: 2.22vh;
  }

  .avatar-section {
    padding: 0;
  }

  .avatar {
    box-sizing: content-box;
    display: inline-block;
    height: 20.5556vw;
    width: 20.5556vw;
  }

  .avatar img {
    height: 100%;
    width: 100%;
  }

  .avatar__caption {
    font-size: 1.73vh;
    padding: 1.1em 0 0.1666em;
  }

  .main-right-eye {
    height: 26.14vh;
    top: 22.58vh;
    right: 8.3vw;
    width: 27.7778vw;
  }

  .column-right .contact-block.hide {
    border: none;
    padding: 0.66667em 0 1.33334em;
    right: 4.5em;
    top: 48.72vh;
  }

  .contact-block__button {
    display: none;
  }

  .column-right .contact-block .contact-block__title h2{
    font-size: 1.6667vw;
    line-height: 160%;
  }

  .column-right .contact-block .contact-block__descr p {
    display: inline-block;
  }

  .column-right .contact-block .contact__link {
    display: inline-block;
    border-bottom: none;
    font-size: 0.75em;
    line-height: 140%;
    text-decoration: underline;
  }

  .column-right .follow-block {
    display: block;
    position: absolute;
    right: 4.5em;
    top: 103vh;
    width: 11.875em;
  }

  .follow-block .follow__link {
    font-size: 2.22vh;
    line-height: 140%;
  }

  .follow-block .text-block__descr span {
    height: 25px;
  }
}